body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  .comment {
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: grey 0 0 5px rgba(0, 0, 0, 0.5);
    margin: 10px;
    padding: 10px;
    }
  
  .comment p {
    margin: 0;
  }
  
  .replies {
    margin-top: 10px;
    padding-left: 20px;
    border-left: 1px solid #ccc;
  }
  